table.timetable{
    width: 100%;
    clear: both;
    margin-top: .5em;
    border-collapse: collapse;
}
/*
table.timetable td:empty{
    background:yellow; 
}*/

table.timetable th{
	/*background-color: #ddd;*/
    font-weight: bold;
    font-size: 1.3em;
    border: 3px solid white; /* 要素の境界 */
    text-align: center;
    white-space: nowrap;
    padding: .3em;
}

table.timetable th.period{
    width: 5em;
}

table.timetable th.week{ /* 何曜日か */
    border-bottom: solid 7px white;
    background-color: #167F92;
    color: #fff;
    width: 9em;
}

table.timetable td{ /* 時間割内 */
    border: 3px solid white;
    background-color: #e6f2f5;
    text-align: center;
    padding: .3em;
    word-wrap: break-word;
    transition: all 300ms 0s ease;
}

table.timetable td:hover{
    opacity: 0.5;
    background-color: white;
}

table.timetable th.period{ /* 何時間目か */
    border-right: solid 7px white;
    background-color: #78bbc7;
    font-weight: bold;
}

